{% extends 'base.html.twig' %}

{% block title %}
Profil : | {{ parent() }}
{% endblock %}

{% block body %}
    <div>

        <h1> Gestion de votre Profil :</h1>

        {{ form_start(participantsForm) }}

            <p>{{ form_row(participantsForm.pseudo) }}</p>
            <p>{{ form_row(participantsForm.nom) }}</p>
            <p>{{ form_row(participantsForm.prenom) }}</p>
            <p>{{ form_row(participantsForm.telephone) }}</p>
            <p>{{ form_row(participantsForm.email) }}</p>
            <p>{{ form_row(participantsForm.password) }}</p>
            <p>{{ form_row(participantsForm.actif) }}</p>
        {{ form_end(participantsForm) }}
        <button type="submit">Enregisrer</button>



    </div>
{% endblock %}
