{% extends 'base.html.twig' %}

{% block title %}
Profil : | {{ parent() }}
{% endblock %}

{% block body %}
    <div>

        <h1> Profil de {{ participant.nom }} {{ participant.prenom }} :</h1>

        {% for error in participantsForm.vars.errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}

        {{ form_start(participantsForm) }}

            <p>{{ form_row(participantsForm.pseudo) }}</p>
            <p>{{ form_row(participantsForm.nom) }}</p>
            <p>{{ form_row(participantsForm.prenom) }}</p>
            <p>{{ form_row(participantsForm.telephone) }}</p>
            <p>{{ form_row(participantsForm.email) }}</p>
            <p>{{ form_row(participantsForm.password) }}</p>
            <p>{{ form_row(participantsForm.campus) }}</p>

        <button href="{{ path('app_participant_profil') }}" type="submit">Enregisrer</button>

        <button href="/" type="reset">Annuler</button>
        {{ form_end(participantsForm) }}

    </div>
{% endblock %}
