{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="container d-flex justify-content-center mt-5">
            <div class="text-start"style="">
            <h4 class="mb-4">Nom : {{ participant.nom }}</h4>
            <h4 class="mb-4">Prenom : {{ participant.prenom }}</h4>
            <h4 class="mb-4">Telephone : {{ participant.telephone }}</h4>
            <h4 class="mb-4">Email : {{ participant.email }}</h4>
            <h4 class="mb-4">Campus : {{ participant.campus.nom }}</h4>

            </div>
    </div>
    <div class="justify-content-center">
    <a href="{{ path('app_participant_profil') }}" class="btn btn-danger" type="submit">Retour</a>
    </div>
{% endblock %}



