{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.campusOrganisateur) }}
            {{ form_row(form.recherche) }}
            <div class="row">
                <div class="form-group col">
                    {{ form_row(form.dateEntre) }}
                </div>
                <div class="form-group col">
                    {{ form_row(form.dateFin) }}
                </div>
            </div>
        </div>
        <div class="col">
            {{ form_row(form.sortieOrganisateur) }}
            {{ form_row(form.sortieInscrit) }}
            {{ form_row(form.sortieNonInscrit) }}
            {{ form_row(form.sortiePassee) }}
        </div>
        <div class="col">
            <button class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>

        {% for sortie in sorties %}
            <tbody>
            <tr>
                <td style="text-align: center">{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date('Y-m-d h:i') }}</td>
                <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
                <td>{{ sortie.participantInscrits|length }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if app.user and sortie.participantInscrits.contains((app.user)) %}
                    X
                {% endif %}
                </td>
                <td>{{ sortie.participantOrganisateur.pseudo }}</td>
                    <td>
                        {% if app.user and app.user == sortie.participantOrganisateur and sortie.etat.libelle != 'Ouverte' %}
                        <a href="{{ path('sortie_edit', {'id':sortie.id}) }}">Modifier</a>
                        {% endif %}
                        {% if app.user and not sortie.participantInscrits.contains(app.user) and sortie.etat.libelle == 'Ouverte' %}
                        <a href="{{ path('sortie_sinscrire', {'id':sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        <a href="{{ path('sortie_show', {'id':sortie.id}) }}">Afficher</a>
                    </td>

            </tr>
            </tbody>

            {% endfor %}
        </table>
    </div>
    <a href="/sortie/create" class="btn btn-primary">Créer une sortie</a>
{% endblock %}
